.two-sections-container {
    margin-top: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding-left: 10%; /* Consider using padding instead */
    padding-right: 15%; /* Consider using padding instead */
}
.left-section{
  margin-left: 25%;
}

.right-section{
   margin-right: 30%;
}



#intro {
    overflow: hidden;
    position: relative;
    margin-right: 30%;
    margin-top: 100px;
}

.bg {
    position: absolute;
    top: -4rem;
    right: 0;
    z-index: -1;
    object-fit: cover;
    height: 100vh;
}

.introContent {
    padding: 2rem;
    font-size: 4rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(255, 255, 255);
    margin-top: 100px;
    margin-left: 100px;
}

.hello {
    font-size: 1.75rem;
    font-weight: 100;
 }

.introName {
    color: rgb(234, 255, 7);
}

.introPara {
    font-size: 30px;
    font-weight: 160;   
    color: white;
}

.btn1 { 
    width: 280px;
    height: 50px;
    background: white;
    border: none;
    font-size: 17px; /* Adjust the font size to your desired size */
    border-radius: 2rem;
}

 